$backgroundColor:#737373;
$fontColor:white;
$angles: 360px;
$notChosenBackgroundImage:linear-gradient(135deg,#ffeeee,#ddefbb);
$ChosenBackgroundImage:linear-gradient(10deg,#abdcff,#0396ff) ;
$addBackgroundImage:linear-gradient(135deg, #f7f0ac, #acf7f0, #f0acf7);
$addHoverBackgroundImage:linear-gradient(135deg, #ede574, #e1f5c4);
$addIconHoverBackgroundImage:linear-gradient(135deg, #ff75c3, #ffa647, #ffe83f, #9fff5b, #70e2ff, #cd93ff);
